<div class="sidebar">
    <div class="sidebar-container">
        <!-- logo -->
        <div class="sidebar-logo">
            <a href="/dashboard">
             <img src="/img/logo-nmims.png" alt="logo">
            </a>
        </div>

        <div class="sidebar-menu">
            <ul class="sidebar-menu-list">
                <li class="menu-item ">
                    <a href="/dashboard">
                        <img src="/img/icon/home-icon.svg" style="width: 20px; height: 20px;" alt="">
                        Home
                    </a>
                </li>
                <li class="menu-item ">
                    <a href="/entities">
                        <img src="/img/icon/book.svg" style="width: 20px; height: 20px;" alt="">
                        Entities
                    </a>
                </li>
                <li class="menu-item active">
                    <a href="" class="main-menu-link">
                        <img src="/img/icon/CursorClickOutline.svg" style="width: 20px; height: 20px;" alt="">
                        Masters
                        <i class="fa-solid fa-angle-down submenu-icon"></i> <!-- Add this icon -->
                    </a>
                    <div>
                        <ul class="sub-menu show">
                            <li class="sub-menu-itam">
                                <a href="/status-types">Status Types</a>
                            </li>
                            <li class="sub-menu-itam"><a href="/entity-types">Entity Types</a></li>
                            <li class="sub-menu-itam"><a href="/document-stages">Document Stages</a></li>
                            <li class="sub-menu-itam"><a href="/document-categories">Document Categories</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>