<div class="sidebar">
    <div class="sidebar-container">
        <!-- logo -->
        <div class="sidebar-logo">
            <img src="/img/logo-nmims.png" alt="logo">
        </div>

        <div class="sidebar-menu">
            <ul class="sidebar-menu-list">
                <li class="menu-item ">
                    <a href="./04.html">
                        <img src="/img/icon/home-icon.svg" style="width: 20px; height: 20px;" alt="">
                        Home
                    </a>
                </li>
                <li class="menu-item ">
                    <a href="">
                        <img src="/img/icon/book.svg" style="width: 20px; height: 20px;" alt="">
                        Demand
                    </a>
                </li>
                <!-- <li class="menu-item">
                    <a href="">
                        <img src="/img/icon/trophy.svg" style="width: 20px; height: 20px;" alt="">
                        Bidding
                        <i class="fa-solid fa-angle-down submenu-icon"></i>
                    </a>
                    <div>
                        <ul class="sub-menu">
                            <li class="sub-menu-itam"><a href="#">Folder</a></li>
                            <li class="sub-menu-itam"><a href="#">Project</a></li>
                        </ul>
                    </div>
                </li> -->
                <li class="menu-item">
                    <a href="">
                        <img src="/img/icon/BadgeCheckOutline.svg" style="width: 20px; height: 20px;"
                            alt="">
                        Confirmation
                    </a>
                </li>
                <li class="menu-item">
                    <a href="">
                        <img src="/img/icon/CollectionOutline.svg" style="width: 20px; height: 20px;"
                            alt="">
                        Waiting List
                    </a>
                </li>
                <!-- <li class="menu-item active">
                    <a href="" class="main-menu-link">
                        <img src="/img/icon/CursorClickOutline.svg" style="width: 20px; height: 20px;"
                            alt="">
                        Add & Drop
                        <i class="fa-solid fa-angle-down submenu-icon"></i> 
                    </a>
                    <div>
                        <ul class="sub-menu">
                            <li class="sub-menu-itam">
                                <a href="./status-types.html">Status Types</a>
                            </li>
                            <li class="sub-menu-itam"><a href="./entity-types.html">Entity Types</a></li>
                            <li class="sub-menu-itam"><a href="./entities.html">Entities</a></li>
                            <li class="sub-menu-itam active"><a href="./document.html">Document</a></li>
                        </ul>
                    </div>
                </li> -->
                <li class="menu-item active">
                    <a href="" class="main-menu-link">
                        <img src="/img/icon/CursorClickOutline.svg" style="width: 20px; height: 20px;"
                            alt="">
                        Add & Drop
                        <i class="fa-solid fa-angle-down submenu-icon"></i> <!-- Add this icon -->
                    </a>
                    <div>
                        <ul class="sub-menu show">
                            <li class="sub-menu-itam">
                                <a href="/dashboard">Status Types</a>
                            </li>
                            <li class="sub-menu-itam"><a href="#">Entity Types</a></li>
                            <li class="sub-menu-itam"><a href="/entities">Entities</a></li>
                            <li class="sub-menu-itam active"><a href="#">Document</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>