<%- include("./partials/head.ejs") %>
    </head>

<body>
    <%- include("./partials/side-nav.ejs") %>
    <div class="content">
        <%- include("./partials/header.ejs") %>
        <div class="content-title">
         <p>Internal Server Error !</p>
        </div>
    </div>
</body>   