<%- include("./partials/head.ejs") %>
<style>
    .dashboard-stat-card {
        border: 1px solid #e5e9f1;
        box-shadow: 0px 2px 8px 0px #00000012;
        border-radius: 16px;
    }

    .chart-pie {
        border: 1px solid #e5e9f1;
        box-shadow: 0px 2px 8px 0px #00000012;
        border-radius: 16px;
        height: 400px;
    }

    .chart-bar {
        border: 1px solid #e5e9f1;
        box-shadow: 0px 2px 8px 0px #00000012;
        border-radius: 16px;
    }

    #chart {
        max-width: 650px;
        margin: 35px auto;
    }
</style>
</head>
<body>

    <%- include("./partials/side-nav.ejs") %>

    <div class="content-body">
        <!-- navbar -->
            <%- include("./partials/header.ejs") %>

        <!-- main content -->
        <div class="content space-y-7">
            <!-- Stats -->
            <div class="dashboard-stats grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-7 text-center ">
                <div class="dashboard-stat-card border px-4 py-6 hover:text-red-600">
                    <span class="stat-value text-3xl font-bold">20</span>
                    <p class="stat-label text-gray-600">Docs Created</p>
                </div>
                <div class="dashboard-stat-card border px-4 py-6 hover:text-red-600">
                    <span class="stat-value text-3xl font-bold">06</span>
                    <p class="stat-label text-gray-600">Docs Received</p>
                </div>
                <div class="dashboard-stat-card border px-4 py-6 hover:text-red-600">
                    <span class="stat-value text-3xl font-bold">02</span>
                    <p class="stat-label text-gray-600">Pending</p>
                </div>
                <div class="dashboard-stat-card border px-4 py-6 hover:text-red-600">
                    <span class="stat-value text-3xl font-bold">16</span>
                    <p class="stat-label text-gray-600">Approved</p>
                </div>
                <div class="dashboard-stat-card border px-4 py-6 hover:text-red-600">
                    <span class="stat-value text-3xl font-bold">02</span>
                    <p class="stat-label text-gray-600">Rejected</p>
                </div>
            </div>

            <!-- Charts -->
            <div class="dashboard-charts grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-7">
                <div class="chart-pie flex flex-col justify-center items-center bg-white shadow-md rounded-lg p-5">
                    <!-- <span class="font-bold text-lg mb-4">Pie Chart</span> -->
                    <div id="pie-chart" class="w-full"></div>
                </div>

                <div class="chart-bar flex flex-col justify-center items-center bg-white shadow-md rounded-lg p-5">
                    <!-- <span class="font-bold text-lg mb-4">Bar Chart</span> -->
                    <div id="bar-chart" class="w-full"></div>
                </div>
            </div>

            <!-- Table -->
            <div class="frame-container">
                <div class="frame-title">
                    <span>Document List</span>
                </div>
                <div class="frame-content">
                    <div class="mx-auto bg-gray-50 rounded-lg ">
                        <!-- Table Header -->
                        <!-- <div class="flex justify-between items-center px-4 py-3 bg-blue-50 rounded-t-lg">
                            <h2 class="text-lg font-semibold text-gray-700">Document Data</h2>
                        </div> -->

                        <!-- Table -->
                        <div class="responsive-table overflow-x-auto">
                            <table class="min-w-full bg-white rounded-b-lg shadow">
                                <thead class="text-left">
                                    <tr>
                                        <th class="p-4 text-xs font-bold text-center">S.No</th>
                                        <th class="p-4 text-xs font-bold text-center">Status</th>
                                        <th class="p-4 text-xs font-bold ">Category</th>
                                        <th class="p-4 text-xs font-bold ">Reference Number</th>
                                        <th class="p-4 text-xs font-bold ">From</th>
                                        <th class="p-4 text-xs font-bold ">Campus</th>
                                        <th class="p-4 text-xs font-bold ">School</th>
                                        <th class="p-4 text-xs font-bold ">Department</th>
                                        <th class="p-4 text-xs font-bold ">Details</th>
                                        <th class="p-4 text-xs font-bold ">Record Entered by</th>
                                        <th class="p-4 text-xs font-bold ">File Versions</th>
                                        <th class="p-4 text-xs font-bold text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Row 1 -->
                                    <tr class="hover:bg-blue-50">
                                        <td class="p-4 text-sm text-gray-700 text-center font-semibold ">01</td>
                                        <td class="p-4 text-center"><span class="status-approved">Approved</span></td>
                                        <td class="p-4 text-sm text-gray-700 ">PR /PO</td>
                                        <td class="p-4 text-sm text-gray-700 ">PR /PO-07102024-001</td>
                                        <td class="p-4 text-sm text-gray-700 ">Director</td>
                                        <td class="p-4 text-sm text-gray-700 ">Mumbai</td>
                                        <td class="p-4 text-sm text-gray-700 ">MPSTME</td>
                                        <td class="p-4 text-sm text-gray-700 ">Purchase</td>
                                        <td class="p-4 text-sm text-gray-700 ">Bills</td>
                                        <td class="p-4 text-sm text-gray-700 ">Omkar</td>
                                        <td class="p-4 text-sm text-gray-700 ">Versions 1</td>
                                        <td class="p-4 text-center relative">
                                            <button onclick="toggleDropdown(0)"
                                                class="focus:outline-none text-gray-600 px-4"><i
                                                    class="fa-solid fa-ellipsis-vertical"></i></button>

                                            <!-- Dropdown menu -->
                                            <div id="dropdown-0"
                                                class="dropdown text-sm hidden absolute bottom-0 right-0 mt-2 w-48 bg-white rounded-md shadow-lg z-10">
                                                <a href="./single-page.html"
                                                    class="block px-4 py-2 text-gray-700 hover:bg-gray-100 flex items-center">
                                                    <i class="text-red-500 fa-solid fa-eye"></i> <span
                                                        class="ml-2">View</span>
                                                </a>
                                                <a href="./update.html"
                                                    class="block px-4 py-2 text-gray-700 hover:bg-gray-100 flex items-center">
                                                    <i class="text-red-500 fa-solid fa-pen-to-square"></i> <span
                                                        class="ml-2">Update</span>
                                                </a>
                                                <a href="#"
                                                    class="block px-4 py-2 text-gray-700 hover:bg-gray-100 flex items-center delete-btn">
                                                    <i class="text-red-500 fa-solid fa-trash-can"></i><span
                                                        class="ml-2">Delete</span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
         <!-- main content// -->
    </div>

    <script src="https://kit.fontawesome.com/16de02e9e0.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="js/utils.js"></script>
    <script src="js/fetch.js"></script>

    <script>
        // Pie Chart Configuration
        var pieOptions = {
            chart: {
                type: 'pie',
                width: '100%',
                height: '100%'
            },
            series: [44, 55, 13, 43, 22, 15],
            labels: ['Addressed', 'Cancelled', 'Completed', 'Confirmed', 'In Progress', 'Pending']
        };

        var pieChart = new ApexCharts(document.querySelector("#pie-chart"), pieOptions);
        pieChart.render();

        // Bar Chart Configuration
        var barOptions = {
            chart: {
                type: 'bar',
                width: '100%',
                height: '100%'
            },
            series: [{
                name: 'Sales',
                data: [4, 6, 8]
            }],
            xaxis: {
                categories: ['Event Registration', 'Public Feedback', 'Service Request']
            }
        };

        var barChart = new ApexCharts(document.querySelector("#bar-chart"), barOptions);
        barChart.render();
    </script>


</body>

</html>