<%- include("./partials/head.ejs") %>
</head>
<body>

    <%- include("./partials/side-nav.ejs") %>

    <div class="content-body">
        <!-- navbar -->
            <%- include("./partials/header.ejs") %>

        <!-- main content -->
         
         <!-- main content// -->
    </div>

    <script src="https://kit.fontawesome.com/16de02e9e0.js" crossorigin="anonymous"></script>
    <script src="js/utils.js"></script>
    <script src="js/fetch.js"></script>

</body>

</html>